@media (min-width: 414px) {
    /* section one */
    #section-one .content-one {
        max-width: 375px;
    }

    .headline-one {
        max-width: 100%;
    }

    .title-one {
        max-width: 607px;
    }


    /* section two */
    #section-two .content-two {
        max-width: 375px;
    }


    .image-items-ten {
        padding: 0;
    }
}

@media (min-width: 600px) {
    /* section one */
    #section-one .content-one {
        max-width: 450px;
    }

    .headline-one {
        font-size: 44px;
        line-height: normal;
    }

    .title-one {
        font-size: 24px;
    }

    .image-items-one {
        width: 100%;
    }

    /* section two */
    #section-two .content-two {
        max-width: 400px;
    }

    .image-cards {
        flex-direction: row;
    }

    .card-content {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    #section-two .card-content {
        gap: 35px;
    }

    #section-two .content-container-two img {
        width: 45%;
        height: auto;
    }

     /* section six */
     .headline-container {
        flex-direction: row-reverse;
    }

    .title-six {
        max-width: 400px;
    }

    .image-group {
        position: relative;
        width: 339.99px;
        height: 444.823px;
        margin: 65px 25px 42px 85px;
    }

    .star-left {
        position: absolute;
        top: 48px;
        left: 27px;
        z-index: 1000;
        width: 53.123px;
        height: 67.003px;
    }
    
    .star-right {
        position: absolute;
        bottom: 18px;
        right: 12px;
        z-index: 1000;
        width: 72.77px;
        height: 91.782px;
    }
    
    .pattern1 {
        position: absolute;
        top: -42px;
        left: -37px;
        z-index: 1;
        width: 339.99px;
        height: 402.324px;
    }
    
    
    .pattern2 {
        position:  absolute; 
        bottom: -42px;
        right: -25px;
        width: 219.577px;
        height: 337.159px;
    }
    
    .main-star {
        width: 96.226px;
        height: 96.227px;
        position: absolute;
        top: -27px;
        left: -49px;
    }
    
    .label-tag {
        font-size: 12px;
    }
    
    .label-award {
        position: absolute;
        top: 32px;
        right: -24px;
        z-index: 1000;
    }
    
    .label-design {
        position: absolute;
        bottom: 33px;
        left: -63px;
        z-index: 1000;
    }
 

    /* section eight */

    .headline-eight {
        font-size: 64px;
    }

    .title-eight {
        font-size: 20px;
    }

    .image-group-eight {
        position: relative;
        width: 471.291px;
        height: 606.326px;
        margin: 42px 38px 0 0;
    }
    
    .main-img-eight {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .circle-eight {
        width: 500px;
        height: 500px;
        top: -42px;
        right: -38px;
    }
    
    .pattern-eight {
        width: 170.732px;
        height: 170.732px;
    }
    
    .pattern-left {
        top: -26px;
        left: 31px;
    }
    
    .pattern-right {
        bottom: 70px;
        right: -39px;
    }

    /* section ten */
    .image-container-ten {
        gap: 18px;
    }
    .image-items-ten {
        width: 45%;
    }

    .image-items-left,
    .image-items-right{
        gap: 8px;
        width: auto;
    }

    .image-items-left img,
    .image-items-right img{
        width: 100%;
        max-width: 154px;
    }

    #btn-view {
        display: none;  
    }

    #img-view_more {
        display: flex;
    }
}

@media (min-width: 768px) {
    /* section one */
    #section-one .content-one {
        max-width: 500px;
    }

    .headline-one {
        font-size: 56px;
    }


    .title-one {
        font-size: 26px;
    }

    /*section two*/

    .headline-two {
        font-size: 44px;
        line-height: 56px;
    }

    .title-two {
        font-size: 20px;
    }

    .text-list-two {
        font-size: 36px;
    }

    /* section three */
    .headline-three {
        font-size: 64px; 
    }

    /* section four */ 
    .headline-four {
        font-size: 56px; 
    }

    /* section five */ 
    .headline-five {
        font-size: 64px; 
    }
    
    .content-list-seven {
        gap: 100px;
    }

    /* section eight */


}

@media (min-width: 800px) {
    /* section one */
    .pad-x {
        padding-inline: 64px;
    }

    /*section five*/

    .content-text span {
        font-size: 24px;
    }

    .content-text p {
        font-size: 20px;
    }

    
    .content-list-seven {
        gap: 50px;
    }

    /*section five*/ 
    .headline-six {
        font-size: 56px;
        line-height: 1.15;
    }

    .title-six {
        font-size: 20px;
        line-height: 1.15;
    }

    .btn-six {
        padding: 16px 32px;
        font-size: 20px;
    }


    /*section seven*/
    .headline-seven {
        text-align: start;
        max-width: 600px;
    }

    .content-seven-text span {
        font-size: 32px;
    }

    .content-seven-text p {
        font-size: 20px;
    }

    .headline-seven {
        font-size: 56px;
        line-height: 1.3;
    }

    /* section nine*/ 
    .container-nine {
        max-width: 800px;
    }

    /*section ten*/

    .image-items-ten {
        width: auto;
    }
}

@media (min-width: 1024px) {

    /* section one */
    #section-one {
        gap: 64px;
    }
    #section-one .content-one {
        max-width: 500px;
    }

    .headline-one {
        font-size: 56px;
    }

    .title-one {
        font-size: 26px;
    }

    #section-one .image-container {
        gap: 16px;
    }

    #section-one .image-container .image-items {
        gap: 16px;
    }
    

    #section-one .image-container .image-items img {
        width: 23.66%;
    }

    /*section two*/
    #section-two .content-container-two {
        gap: 22px;
        width: 100%;
        flex-direction: row;
    }

    #section-two .image-cards {
        width: 100%;
        gap: 40px;
    }

    .card-content {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .title-two {
        max-width: 100%;
    }
    .headline-two {
        width: 100%;
    }

    .btn-two {
        margin-top:10px;
    }


    .left-img {
        /* margin-bottom: 200px; */
        max-width: 408px;
    }

    .right-img {
        margin-top: 152px;
        max-width: 408px;
    }

    /* section three */
    .content-container-three {
        flex-direction: row;
        align-self: flex-end;
    }

    .content-container-three > * {
        flex: 1;
    }

    .title-container {
        max-width: 400px;
    }

    .headline-three {
        font-size: 72px;
    }

    .title-three {
        font-size: 24px;
    }

    /* section four */ 
    .headline-four {
        font-size: 64px; 
        line-height: 80px; /* 125% */
    }

    #section-four {
        display: grid;
        grid-template-areas: 
        "image content-container"
        "image content-list";
        row-gap: 78px;
        grid-template-columns: 1.25fr 1fr;
    }

    .content-container-four {
        grid-area: content-container;
        max-width: 500px;
    }

    .img-four {
        grid-area: image;
    }

    .content-list {
        grid-area: content-list;
        max-width: 500px;
    }

    /* section five */
    .headline-five {
        font-size: 72px; 
    }

    .content-list-five {
        flex-direction: row;
    }

    /* section six */
    .container-six {
        flex-direction: row;
        justify-content: space-between;
    }

    .content-container-six {
        max-width: 430px;
    }

    .headline-container {
        flex-direction: column;
    }

    .headline-six {
        max-width: 100%;
    }

    /* section seven */

    .content-list-seven {
        gap: 150px;
    }

    .headline-seven {
        text-align: start;
        max-width: 600px;
        font-size: 64px;
    }

    /* section eight */  
    .content-container-eight {
        flex-direction: row-reverse;
        align-items: center;
        gap: 30px;
    }

    .headline-container-eight {
        max-width: 400px;
    }

    .headline-item {
        font-size: 64px;
    }

    .title-ten {
        font-size: 20px;
    }

    .btn-ten {
        font-size: 20px;
    }

    /* section nine */
    .container-nine {
        max-width: 100%;
        height: 800px;
        justify-content: space-between;
        
    }

    .content-bottom,
    .content-container-nine {
        flex-direction: row;
        position: relative;
    }   

    .content-bottom {
        align-items: flex-end;
        justify-content: flex-end;
    }

    .accom-container {
        flex-direction: row;
    }

    .accom-item {
        width: 168px;
    }

    .accom-number {
        font-size: 18px;
    }
    .accom-content {
        font-size: 12px;
    }

    .accom-container {
        padding: 40px 54px;
        gap: 20px;
    }

    .img-left {
        width: 34.5%;
        position: absolute;
        bottom: -40px; 
        left: 0;
    }

    .img-right {
        position: absolute;
        width: 34.5%;
        top: -40px;
        right: 0;
        z-index: 1;
    }

    .content-container-nine {
        justify-content: flex-end;
        flex-direction: row;
    }

    .headline-container-nine {
        /* width: 800px; */
        max-width: 100%;
        z-index: 100;
        position: absolute;
        right: 18%;
    }

    .headline-nine {
        align-items: flex-end;
        font-size: 64px;
    }

    .title-nine {
        width: 650px;
    }

    .accom-container {
        position: absolute;
        left: 30%;
    }

    /* section ten */
    /* .container-ten {
        align-items: flex-start;
    } */

    .image-items-left img, .image-items-right img{
        max-width: 172px;
    }
    
}

@media (min-width: 1200px) {
    /* section one */
    #section-two .content-two {
        max-width: 444px;
    }

    .title-container {
        max-width: 526px;
    }
    /* section two */
    .headline-two {
        font-size: 56px;
        line-height: 80px;
        
    }

    .text-list-two {
        font-size: 40px;
    }

    .title-two {
        font-size: 26px;
    }



    /* section-four */
    .title-four {
        font-size: 24px;

    }

    .content-list-item p{
        font-size: 28px;
    }

    .content-list-item p{
        font-size: 20px;
    }

    #section-four {
        column-gap: 70px;
    }

    .content-container-four {
        margin-top: 80px;
    }

    /* section five */
    .headline-five {
        font-size: 88px;
        line-height: 104px; /* 118.182% */
    }

    .content-text span {
        font-size: 32px;
    }

    .content-text p {
        font-size: 24px;
    }

    /* section six */
    .container-six {
        gap: 24px;
        justify-content: center;
    }

    .content-container-six {
        max-width: 600px;
    }

    .headline-container {
        flex-direction: column;
    }

    .feature-container {
        gap: 60px;
    }

    /* section seven */
            
    .content-list-seven {
        /* justify-content: flex-start; */
        gap: 180px;
    }

    .content-seven-text span {
        font-size: 40px;
    }

    .content-seven-text p {
        font-size: 24px;
    }

    .headline-seven {
        font-size: 72px;
        line-height: 88px;
        font-style: normal;
        max-width: 850px;
    }

   
    /* section eight*/ 
    .content-container-eight {
        gap: 68px;
    }
    .headline-container-eight {
        max-width: 400px;
    }

    .headline-eight {
        font-size: 64px;
    }

    .title-eight {
        font-size: 20px;
    }

    #section-eight {
        gap: 68px;
    }

    /* section nine */
    .container-nine {
        height: 926px;
    }
    .headline-nine {
        font-size: 72px;
    }

    .content-bottom,
    .content-container-nine {
        flex-direction: row;
        position: relative;
    }   

    .content-bottom {
        align-items: flex-end;
        justify-content: flex-end;
    }

    .accom-container {
        flex-direction: row;
        max-height: 272px;
        gap: 40px;
        padding: 64px 88px;
        right: 0;
    }

    .accom-item {
        width: 204px;
    }

    .accom-number {
        font-size: 20px;
    }
    .accom-content {
        font-size: 14px;
    }

    .img-left {
        max-width: 462px;
    }

    .img-right {
        max-width: 537.4px;
    }



    /*section ten*/

    .container-ten {
        flex-direction: row;
    }

    .content-container-ten {
        max-width: 310px;
    }


    .headline-item {
        font-size: 72px;
    }

    .title-ten {
        font-size: 24px;
    }

    .btn-ten {
        font-size: 24px;
    }
}

@media (min-width: 1440px) {

    .pad-y {
        padding-block: 64px;
    }
    
    /* section one */
    #section-one .content-one {
        max-width: 610px;
    }

    #section-one {
        padding: 64px;
    }

    .headline-one {
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: 80px; /* 125% */
        height: 136px;
    }

    #section-one .image-container {
        padding: 0;
    }

    .title-one {
        margin: 0;
    }
    
    .btn-one {
        padding: 18px 48px;
    }

    #section-one .image-container .image-items img {
        max-width: 316px;    
        width: 100%;
    }

    /* section-two */ 
    #section-two {
        padding: 64px;
    }
    
    #section-two .content-container-two img  {
        width: 408px;
    }
    
    /* .left-img {
        margin-bottom: 304px;
    } */

    #section-two .content-two {
        margin-top: 72px;
    }
    
    .headline-two {
        max-width: 100%;
    }

    .title-two {
        max-width: 370px;
    }
    
    #section-two {
        gap: 68px;
    }

    /* section-three */
    #section-three  {
        padding-top: 111px;
        gap: 118px;
    }

    .content-container-three {
        padding: 0;
    } 

    .headline-three {
        font-size: 88px;
    }


    .title-three {
        font-size: 26px;
    }



    /* section-four */
    #section-four {
        padding-inline: 58px 112px;
        padding-block: 35px 65px;
        column-gap: 70px;
    }

    .img-four {
        width: 700px;
    }

    .content-container-four {
        margin-top: 69px;
    }

    .title-four {
        max-width: 100%;
    }

    .headline-four {
        max-width: 500px;
    }
    .title-four {
        font-size: 26px;
    }
    
    .btn-four {
        margin-top: 10px;
    }

    .content-list-item span{
        font-size: 32px;
    }

    .content-list-item p{
        font-size: 24px;
    }

    .content-list {
        padding: 0;
        gap: 40px;
    }




    /*section five*/

    #section-five {
        gap: 55px;
    }

    .content-list-five {
        gap: 56px;
    }

    /* section six */
    .container-six {
        gap: 0px;
        justify-content: center;
    }

    .headline-container {
        width: 629px;
    }

    .feature-container {
        gap: 80px;
    }

    .label-tag {
        font-size: 24px;
        padding: 16px 24px;
    }

    .label-award {
        font-size: 18px;
    }

    .headline-six {
        font-size: 64px;
        line-height: 1.25;
        padding-left: 12px;
    }

    .headline-container {
        gap: 30px;
    }

    .title-six {
        font-size: 24px;
        line-height: 1.25;
        max-width: 100%;
        padding-left: 14px;
    }

    .content-container-six {
        max-width: 652px;
        gap: 66px;
    }

    .circle-container {
        margin-bottom: 24px;
        padding-right: 18px;
    }
    
    .buttons-six {
        padding-left: 14px;
        gap: 32px;
    }

    .feature-item {
        width: 90px;
    }
    
    .buttons-six button {
        padding: 24px 48px;
        font-size: 24px;
        line-height: 0.75;
    }

    .image-group {
        width: 480px;
        height: 628px;
        margin-inline: 120px 34px;
        margin-block: 90px 60px;
    }
    
    .star-left {
        top: 68px;
        left: 40px;
    }
    
    .star-right {
        bottom: 26px;
        right: 17px;
    }
    
    .pattern1 {
        width: 480px;
        height: 568px;
        top: -60px;
        left: -52px;
    }
    
    .pattern2 {
        width: 310px;
        height: 476px;
        bottom: -59px;
        right: -34px;
    }
    
    .main-star {
        width: 135.853px;
        height: 135.853px;
        top: -31px;
        left: -68px;
    }
    
    .label-award {
        top: 45.67px;
        right: -34.24px;
    }
    
    .label-design {
        bottom: 55.24px;
        left: -64.76px;
    }

    /* section seven */


    .content-list-seven {
        gap: 16px;
    }

    #section-seven {
        align-items: flex-start;
        gap: 57px;
    }

            
    .content-list-seven {
        justify-content: flex-start;
    }

     /* section eight*/ 

    #section-eight {
        padding: 0;
    }
    .content-container-eight {
        gap: 169px;
    }
    
    .headline-container-eight {
        max-width: 487px;
        gap: 40px;
    }


    .headline-eight {
        font-size: 88px;
        line-height: 104px;
    }

    .title-eight {
        font-size: 24px;
        line-height: 32px; /* 133.333% */
    }

    .btn-eight {
        padding: 32px 56px;
        font-size: 32px;
        line-height: 18px; /* 56.25% */
    }

    .image-group-eight {
        position: relative;
        width: 618.333px;
        height: 795.5px;
        margin: 42px 38px 0 0;
    }
    
    .main-img-eight {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .circle-eight {
        width: 656px;
        height: 656px;
        top: -42px;
        right: -38px;
    }
    
    .pattern-eight {
        width: 224px;
        height: 224px;
    }
    
    .pattern-left {
        top: -26px;
        left: 31px;
    }
    
    .pattern-right {
        bottom: 70px;
        right: -39px;
    }

    /* section nine */
    .container-nine {
        padding: 64px;
    }
    
    .img-right{
        width: 537.4px;
        height: 512px;
        top: -64px;
    }
    .img-left {
        width: 462px;
        height: 508px;
        bottom: -64px;
    }

    .accom-number {
        font-size: 24px;
    }

    .accom-content {
        font-size: 16px;
    }

    .accom-container {
        left: 364px;
        gap: 80px;
    }

    .headline-container-nine {
        right: 325px;
    }

    .headline-nine {
        font-size: 88px;
    }

    .title-nine {
        font-size: 24px;
        line-height: 1.55;
    }

    .btn-nine {
        font-size: 24px;
        padding: 24px 48px;
    }

    .title-nine {
        width: 659px;
    }

    .headline-container-nine {
        width: 756px;
    }

    .container-nine {
        max-width: 1440px;
    }

    /* section ten */
    .content-container-ten {
        max-width: 449px;
    }


    
    .container-ten {
        gap: 53px;
    }

    .image-container-ten {
        width: auto;
    }

    .btn-ten {
        padding-block: 24px;
    }
}
