#section-six {
    width: 100%;
}

.container-six {
    gap: 19px;
}

.circle-container {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.circle-text {
    position: absolute;
    width: 100px;
    height: 100px;
}

.circle-text .text-container span {
    position: absolute;
    transform-origin: center center;
}

.text-container {
    position: absolute;
    font-size: 14px;
    color: #333;
    font-family: Times;
    font-size: 14.222px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform-origin: 50px 50px;
}

.center-icon {
    position: absolute;
    width: 28.444px;
    height: 28.444px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.headline-container {
    gap: 29px;
}

.headline-six {
    color: #050505;

    font-family: "Playfair Display";
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 100% */
    max-width: 450px;
}

.title-six {
    color: #333;

    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttons-six {
    flex-direction: row;
    gap: 10px;
}


.btn-six {
    padding: 18px 15px;
    border-radius: 16px;
    background: #050505;

    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 100% */
    border: 1px solid #333;
}

.buttons-six .btn-light {
    color: #333;
    background-color: #fff;
}

.buttons-six .btn-dark {
    color: #fff;
}


.content-header {
    gap: 32px;
}

.content-container-six {
    gap: 23px;
}

.feature-container {
    flex-wrap: wrap;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid #111;
    flex-direction: row;
    gap: 6px 80px;
}

.feature-item {
    gap: 8px;
    width: 91px;
}

.feature-item p {
    color: #111;

    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.pattern {
    border-radius: 38px;
    border: 2px solid #111;

    background: #FFF;
}

.label-tag {
    display: inline-block;
    padding: 8px 9px;
    border-radius: 16px;
    background: #685FD4;
    backdrop-filter: blur(2px);
    color: #FFF;
    font-family: "Work Sans", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.image-group {
    position: relative;
    width: 253.104px;
    height: 331.146px;
    margin: 48px 18px 32px 64px;
}

.main-img {
    position: relative;
    width: 100%;
    z-index: 100;
}

.star-left {
    position: absolute;
    top: 36px;
    left: 20px;
    z-index: 1000;
    width: 39.547px;
    height: 49.88px;
}

.star-right {
    position: absolute;
    bottom: 14px;
    right: 9px;
    z-index: 1000;
    width: 54.173px;
    height: 68.327px;
}

.pattern1 {
    position: absolute;
    top: -31px;
    left: -28px;
    z-index: 1;
    width: 253.104px;
    height: 299.508px;
}


.pattern2 {
    position:  absolute; 
    bottom: -32px;
    right: -18px;
    width: 163.463px;
    height: 250.996px;
}

.main-star {
    width: 71.635px;
    height: 71.636px;
    position: absolute;
    top: -20px;
    left: -36px;
    stroke-width: 2px;
    stroke: #020202;
    fill: #FFF;
    flex-shrink: 0;
}

.label-tag {
    font-size: 10px;
}

.label-award {
    position: absolute;
    top: 24px;
    right: -18px;
    z-index: 1000;
}

.label-design {
    position: absolute;
    bottom: 21px;
    left: -49px;
    z-index: 1000;
}