#section-four {
    gap: 30px;
}

.content-container-four {
    gap: 22px;
}

.headline-four {
    color: var(--headline-dark);
    font-family: Avenir, sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 52px;
    max-width: 325px;
}

.title-four {
    max-width: 305px;
}

.btn-four {
    padding: 18px 48px;
    border-radius: 16px;
    border: none;
}

.img-four {
    width: 100%;
}

.content-list {
    gap: 20px;
    padding: 11px;
}

.content-list-item {
    gap: 4px;
}

.content-list-item span {
    color: rgba(37, 37, 37, 0.55);
    font-family: Avenir, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.content-list-item p {
    color: rgba(37, 37, 37, 0.80);
    font-family: Avenir, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
}





