#section-ten {
    width: 100%;
    background: #2F2F2F;
}
.container-ten {
    gap: 19px;
    width: 100%;
}

.content-container-ten {
    gap: 23px;
    max-width: 700px;
}


.item-one{
    color: #FEC3C7;

}

.item-two{
    color: #9AD7F3;

}

.item-three{
    color: #6BDFDA;

}

.title-ten {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
}


.btn-ten {
    padding: 18px 48px;
    border-radius: 36px;
    background: #FFF;
    color: #232323;
    border: none;
}



.headline-item {
    font-family: Poppins, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.image-container-ten {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.image-items-ten {
    gap: 18px;
    width: 100%;
    padding: 9px 10px;
}

.image-items-left,
.image-items-right{
    gap: 8px;
    width: 50%;
}

.image-items-left img,
.image-items-right img{
    width: 100%;
}


#btn-view {
    padding: 10px 15px;
    border-radius: 36px;
    background: #D9D9D9;
    color: #000;
    cursor: pointer;
    font-size: 12px;
    
}

#img-view_more {
    display: none;
}