#section-one {
    gap: 26px;
    flex-direction: column;
    padding-block: 80px;
}

#section-one .content-one {
    flex-direction: column;
    gap: 24px;
    max-width: 610px;
}

.headline-one {
    color: var(--headline-dark);
    text-align: center;
    font-family: Avenir, sans-serif;
    font-style: normal;
    font-size: 36px;
    font-weight: 800;
    line-height: 48px; /* 133.333% */
    max-width: 325px;
}

.title-one {
    text-align: center;
    max-width: 325px;
    line-height: 1.4;
    margin-bottom: 23px;
}

.btn-one {
    padding: 18px 32px;
    border-radius: 16px;
}

#section-one .image-container {
    flex-direction: column;
    gap: 18px;
    padding-block: 20px;
}

#section-one .image-container .image-items {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 18px;
}

#section-one .image-container .image-items img {
    /* max-width: 316px; */
    width: calc(50% - 9px);
    height: auto;
    border-radius: 16px;
}


