#section-eight {
    background: linear-gradient(295deg, #9C2004 5.77%, #AB2706 97.94%);
    width: 100%;
    gap: 68px;
}

.headline-container-eight {
    gap: 10px;
    max-width: 500px;
    /* padding: 10px; */
}

.image-group-eight {
    position: relative;
    width: 320px;
    height: 406px;
    margin: 33px 19px 0 0;
}

.main-img-eight {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.circle-eight {
    position: absolute;
    width: 339px;
    height: 335px;
    top: -21px;
    right: -19px;
    z-index: 1;
    border-radius: 50%;
    background: #E5B94B;
    backdrop-filter: blur(12px);
}

.pattern-eight {
    width: 116px;
    height: 114px;
}

.pattern-left {
    position: absolute;
    top: -33px;
    left: 0;
    z-index: 1;
}

.pattern-right {
    position: absolute;
    bottom: 35px;
    right: -19px;
    z-index: 1;
}


.content-container-eight {
    gap: 68px;
}

.headline-eight {
    color: #FFF;
    font-family: "Work Sans", sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
    
}

.title-eight {
    color: #FFF;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 133.333% */
}

.btn-eight {
    padding: 18px 48px;
    border-radius: 36px;
    background: #E5B94B;
    color: #080808;

    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 100% */
    border: none;
}