#section-five {
    gap: 40px;
}

.headline-five {
    color: var(--headline-dark);
    font-family: Avenir, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 121.429% */
    max-width: 531px;
    padding-block: 8px;
}

.content-list-five {
    gap: 30px;
    width: 100%;
}

.content-list-five .content-item img {
    width: 100%;
}

.content-item {
    gap: 24px;
}

.content-text {
    gap: 4px;
}


.content-text span {
    color: rgba(37, 37, 37, 0.55);
    font-family: Avenir, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.content-text p {
    color: rgba(37, 37, 37, 0.80);
    font-family: Avenir, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
}

