#section-three {
    gap: 34px;
    padding-block: 36px;
}

.content-container-three {
    width: 100%;
    align-items: flex-start;
    gap: 22px;
}

.title-container {
    align-items: flex-start;
    gap: 22px;
    max-width: 500px;
}


.headline-three {
    color: var(--headline-dark);
    font-family: Avenir, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 114.286%;
}

.btn-three {
    padding: 18px 32px;
    border-radius: 16px;
    border: none;
}

.hero-image {
    width: 100%;
    height: auto;
}