#section-two {
    padding-block: 40px;
    gap: 46px;
}

#section-two .content-container-two {
    gap: 22px;
    width: 100%;
}


#section-two .content-container-two .content {
    gap: 14px;
    align-items: flex-start;    
}

.headline-two {
    color: var(--headline-dark);
    font-family: Avenir, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 44px; /* 122.222% */
    max-width: 330px;
}

.content-two {
    gap: 14px;
}

.title-two {
    max-width: 325px;
    line-height: 1.4;
}

.btn-two {
    border: none;
    padding: 18px 32px;
    border-radius: 16px;
    line-height: 1;
}

#section-two .content-container-two img {
    width: 100%;
    height: auto;
}

#section-two .image-cards {
    width: 100%;
    gap: 10px;
}

.card-content {
    width: 100%;
    gap: 30px;
}

#section-two .image-cards .image-card-item {
    width: 100%;
}

#section-two .image-cards .image-card-item img {
    width: 100%;
}

.text-list-two {
    font-size: 18px;
}

.image-card-item {
    gap: 3px;
}

