#section-seven {
    gap: 32px; 
}

.headline-seven {
    color: #252525;
    text-align: center;
    font-family: Avenir, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    max-width: 500px;
}

.content-list-seven {
    width: 100%;
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: row;
}


.content-seven-text {
    gap: 12px;
}

.content-seven-item {
    max-width: 316px;
    gap: 24px;
}

.content-seven-text span{
    color: rgba(37, 37, 37, 0.35);
    font-family: Avenir, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.content-seven-text p{
    color: rgba(37, 37, 37, 0.80);
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
}

.content-seven-item img {
    width: 100%;
}

.image-container {
    position: relative;
}

#section-seven .image-container {
    height: 401px;
}

.image-title {
    color: #252525;
    
    font-family: Avenir, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.image-content {
    color: #252525;

    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
}


.text-block {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.49) 100%);
    display: flex;
    padding: 24px 80px 24px 24px;
    flex-direction: column;
    align-items: flex-start;

    bottom: 0;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

