#section-nine {
    background: linear-gradient(174deg, #C8CCCF 1.13%, #97A3A3 98.71%);
    width: 100%;
}   

.container-nine {
    width: 100%;
    gap: 40px;
}

.content-container-nine {
    gap: 40px;
    width: 100%;
}

.content-bottom {
    width: 100%;
    gap: 40px;
}

.headline-container-nine {
    gap: 16px;
    max-width: 500px;
    /* padding: 10px; */
}

.headline-nine {
    color: #363830;
    font-family: Poppins, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
}

.title-nine {
    color: #363830;

    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-nine {
    padding: 18px 48px;
    border-radius: 36px;
    background: #363830;
    color: #FFF;

    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
    border: none;
}

.img-right {
    width: 100%;
}

.img-left {
    width: 100%;
}

.accom-container {
    padding: 88px 64px;
    border-radius: 160px;
    background: linear-gradient(96deg, rgba(255, 255, 255, 0.30) 6.59%, rgba(255, 255, 255, 0.18) 96.07%);

    backdrop-filter: blur(12px);
}

.accom-container {
    gap: 80px;
    /* max-width: 332px; */
}

.accom-item {
    gap: 16px;
    max-width: 240px;
}

.accom-number {
    color: #363830;

    font-family: Poppins,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.accom-line {
    width: 38px;
    height: 4px;
    background: #363830;
}

.accom-content {
    color: #363830;

    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}



