* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Avenir";
    src: url(asset/font/avenir-roman.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Avenir";
    src: url(asset/font/Avenir\ Heavy.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "Times";
    src: url(asset/font/Times\ Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url(asset/font/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url(asset/font/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url(asset/font/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Work Sans";
    src: url(asset/font/WorkSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Work Sans";
    src: url(asset/font/WorkSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Work Sans";
    src: url(asset/font/WorkSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Work Sans";
    src: url(asset/font/WorkSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Playfair Display";
    src: url(asset/font/PlayfairDisplay-Bold.ttf);
    font-weight: 700;
}

:root {
    --light: #fff;
    --headline-dark: #252525;
    --content-dark: rgba(37, 37, 37, 0.80);
    --number-dark: rgba(37, 37, 37, 0.25);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
}

.flex-start {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-direction: column;
}


.title {
    color: var(--content-dark);
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
}

.text-list {
    color: var(--number-dark);
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.btn {
    background: #252525;
    color: #FFF;
    font-family: Avenir, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px; /* 100% */
    border: none;
}

.pad-x {
    padding-inline: 18px;
}

.pad-y {
    padding-block: 40px;
}
 
.max-width {
    max-width: 1440px;
}

.content-container {
    padding: 10px;
}